.input {
  position: relative;
  & > input {
    height: 28px;
    width: 250px;
    padding: 0 6px;
    border-radius: 10px;
    border: 1px solid #a7a8aa;
  }
  & > svg {
    position: absolute;
    right: 3px;
    top: 3px;
  }
}
