.root {
  height: 50px;
  border-bottom: 1px solid #A7A8AA;
  padding: 0 20px;
  display: flex;
  align-items: center;
  gap: 40px;
}
.logo {
  & > a {
    text-decoration: none;
    & > p {
      color: #FFF;
      font-family: 'Roboto Condensed';
      font-size: 20px;
      width: max-content;
    }
  }
}
.search {

}